notification/src/main/resources/xsd/mail-service.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://mail-service.com/soap-web-service"
  targetNamespace="http://mail-service.com/soap-web-service" elementFormDefault="qualified">

  <xs:element name="getAllMailRequest">
    <xs:complexType>
    </xs:complexType>
  </xs:element>

  <xs:element name="getAllMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="mail" type="tns:mail" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="mail">
    <xs:sequence>
      <xs:element name="email" type="xs:string"/>
      <xs:element name="isProcessed" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>